body {
  font-family: 'Merriweather', serif;
}

pre {
  background: #f3f3f3;
  padding: 0.5rem;
  overflow-x: auto;
  border-radius: 5px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
